.about {
    margin: 50px auto;
    .login-panel {
        padding: 40px 0;
    }
    .layout {
        padding: 0 40px;
        text-align: justify;
        line-height: 30px;
        p {
            margin-bottom: 30px;
        }
        .images {
            margin-bottom: 30px;
            .title {
                text-align: center;
                font-size: 14px;
                margin-top: 5px;
            }
            img {
                width: 100%;
            }
        }
    }
}

//政策
.policy-list {
    li {
        border-bottom: 1px dashed #cccccc;
        line-height: 40px;
        height: 40px;
        position: relative;
        a {
            overflow: hidden;
            width: 100%;
            display: inline-block;
            padding-right: 95px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
                color: #3ea8f5;
                text-decoration: underline;
            }
            span {
                position: absolute;
                right: 15px;
            }
        }
    }
}

.fenye {
    margin: 20px 0 40px;
}

.person-list {
    margin-top: 30px;
    .item {
        margin-top: 20px;
        box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
        transition: .3s all linear;
        border-radius: 6px;
        background: #fff;
        &:hover {
            box-shadow: 0px 8px 16px 0px rgba(7, 17, 27, 0.2);
        }
        .img-box {
            img {
                width: 100%;
            }
        }
        .shizhan-intro-box {
            padding: 10px 24px 24px;
            box-sizing: border-box;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            i {
                font-size: 14px;
                margin-right: 5px;
                color: #93999f;
            }
            .shizan-name {
                font-size: 16px;
                line-height: 28px;
                color: #07111b;
                font-weight: 200;
                letter-spacing: -0.1px;
                max-height: 56px;
                word-break: break-all;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: -o-ellipsis-lastline;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                span {
                    color: #93999f;
                    font-size: 12px;
                    margin-left: 15px;
                }
            }
            .shizan-desc {
                margin-top: 8px;
                font-size: 12px;
                line-height: 24px;
                color: #93999f;
                font-weight: 200;
                max-height: 72px;
                word-break: break-all;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: -o-ellipsis-lastline;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .evaluation-box {
                margin-top: 15px;
                color: #93999f;
                span {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 200;
                }
            }
        }
    }
}

.about-name {
    font-size: 14px;
    color: #666;
    span {
        font-size: 16px;
        color: #333;
    }
}