<section class="mt100 container login">
    <div class="title">
        知识产权纠纷调解维权平台
    </div>
    <div class="col-lg-12">
        <div class="login-panel">
            <div class="login-part">
                <div class="row">
                    <div class="col-lg-6 left">
                        <div ng-show="error" class="alert alert-danger">
                            {{error}}
                        </div>
                        <h2>新用户注册</h2>
                        <form class="form-horizontal" role="form" id="loginForm" name="loginForm" ng-submit="register()" novalidate>
                            <div class="form-group" ng-class="{'has-error':loginForm.loginName.$dirty && loginForm.loginName.$invalid}">
                                <div class="col-sm-12">
                                    <input type="text" name="loginName" ng-model="loginName" class="form-control" id="firstname" ng-minlength="8" ng-maxlength="32"
                                        placeholder="手机 / 用户名 / 邮箱" required>
                                </div>
                                <div ng-show="loginForm.loginName.$dirty && loginForm.loginName.$invalid">
                                    <div class="input-error" ng-show="loginForm.loginName.$error.required">请输入用户名</div>
                                    <div class="input-error" ng-show="loginForm.loginName.$error.minlength">用户名至少输入8个字符</div>
                                    <div class="input-error" ng-show="loginForm.loginName.$error.maxlength">用户名最多输入32字符</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':loginForm.UserPhone.$dirty && loginForm.UserPhone.$invalid}">
                                <div class="col-sm-12">
                                    <input type="text" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" name="UserPhone"
                                        ng-model="UserPhone" class="form-control" id="firstname" placeholder="请输入手机号码" required>
                                </div>
                                <div ng-show="loginForm.UserPhone.$dirty && loginForm.UserPhone.$invalid">
                                    <div class="input-error" ng-show="loginForm.UserPhone.$error.pattern">请输入正确的手机号码</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':loginForm.yzm.$dirty && loginForm.yzm.$invalid}">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" ng-model="yzm" name="yzm" placeholder="请输入短信验证码" required>
                                </div>
                                <button class="btn btn-default yzBtn" ng-disabled="loginForm.UserPhone.$invalid||btnDisabled" ng-click="sendCode(this)">{{btn}}</button>
                                <div ng-show="loginForm.yzm.$dirty && loginForm.yzm.$invalid">
                                    <div class="input-error" ng-show="loginForm.yzm.$error.required">
                                        请输入验证码
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':loginForm.loginPwd.$dirty && loginForm.loginPwd.$invalid}">
                                <div class="col-sm-12">
                                    <input type="password" name="loginPwd" ng-model="loginPwd" class="form-control" id="firstname" ng-minlength="6" ng-maxlength="32"
                                        required placeholder="输入6~32位密码" required>
                                </div>
                                <div ng-show="loginForm.loginPwd.$dirty && loginForm.loginPwd.$invalid">
                                    <div class="input-error" ng-show="loginForm.loginPwd.$error.required">
                                        请输入密码
                                    </div>
                                    <div class="input-error" ng-show="loginForm.loginPwd.$error.minlength">密码至少输入6个字符</div>
                                    <div class="input-error" ng-show="loginForm.loginPwd.$error.maxlength">密码最多输入32字符</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':(loginForm.loginConfirmPwd.$dirty && loginForm.loginConfirmPwd.$invalid)||(loginPwd!=loginConfirmPwd&&loginForm.loginConfirmPwd.$dirty)}">
                                <div class="col-sm-12">
                                    <input type="password" name="loginConfirmPwd" ng-model="loginConfirmPwd" class="form-control" id="firstname" ng-minlength="6"
                                        ng-maxlength="32" required placeholder="请再次输入密码" required>
                                </div>
                                <div ng-show="loginForm.loginConfirmPwd.$dirty && loginForm.loginConfirmPwd.$invalid">
                                    <div class="input-error" ng-show="loginForm.loginConfirmPwd.$error.required">
                                        请再次输入密码
                                    </div>
                                    <div class="input-error" ng-show="loginForm.loginConfirmPwd.$error.minlength">密码至少输入6个字符</div>
                                    <div class="input-error" ng-show="loginForm.loginConfirmPwd.$error.maxlength">密码最多输入32字符</div>
                                </div>
                                <div ng-hide="loginForm.loginConfirmPwd.$dirty && loginForm.loginConfirmPwd.$invalid">
                                    <div class="input-error" ng-show="loginPwd!=loginConfirmPwd&&loginForm.loginConfirmPwd.$dirty">两次输入密码不一致</div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" ng-model="xieyi" ng-checked="xieyi"> 我同意 <a href="" ui-sref="homePage.protocol"  class="xieyi">《知识产权纠纷调解平台使用协议》</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" ng-disabled="loginForm.$invalid||loginPwd!=loginConfirmPwd||!xieyi" class="btn btn-primary btn-block">立即注册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 right">
                        <div class="aside">
                            <div class="passport-goto">已有账号? <a ui-sref="homePage.login" tabindex="5">立即登录</a></div>
                            <div class="passport-third">
                                <header class="hd">
                                    <div class="layout-inner">
                                        <h3>快速登录</h3>
                                    </div>
                                </header>
                                <div class="links">
                                    <a href="/connect/qq"><i class="passport-icon icon-tencent"></i></a>
                                    <a href="/connect/weibo"><i class="passport-icon icon-weibo"></i></a>
                                    <a href="/connect/weixin"><i class="passport-icon icon-weixin"></i></a>
                                    <a href="/connect/eoe"><i class="passport-icon icon-eoe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>