.info-desc {
    background: #f5f5f5;
    padding: 110px 0 40px;
}

.api_data {
    padding-left: 210px;
    min-height: 180px;
    position: relative;
}

.api_data_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 176px;
    height: 176px;
    border: 2px solid #3ba8f5;
    border-radius: 2px
}

.api_data_info h2 {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0;
    color: #555;
}

.api_data_info h2 strong {
    padding-right: 5px;
}

.api_data_info .h1_span {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
    border-radius: 2px;
    border-radius: 10px;
    font-weight: 400;
    padding: 2px 6px;
    margin-right: 3px;
}

.color_juhe {
    color: #3da8f5;
    border: 1px solid #3da8f5;
}

.color_mianfei {
    color: #58d8a3;
    border: 1px solid #58d8a3;
}

.color_auto {
    color: #f01415;
    border: 1px solid #f01415;
}

.color_disanfang {
    color: #f01415;
    border: 1px solid #f01415;
}

.color_https {
    color: #f01415;
    border: 1px solid #f01415;
}

.color_sdk2 {
    color: #3da8f5;
    border: 1px solid #3da8f5;
}

.api_data_info .doc_api_decsP {
    color: #777;
    line-height: 16px;
    height: 44px;
    overflow: hidden;
    padding: 4px 0 8px;
}

.api_data_btns {
    padding-top: 10px;
    .btn-register {
        width: 120px;
    }
}

.doc_arguments {
    float: left;
    height: 20px;
    line-height: 20px;
    color: #666;
    padding-right: 35px;
    padding-left: 2px;
}

.doc_arguments p b {
    padding-right: 5px;
    font-weight: normal;
}

.docPrice {
    height: 40px;
    border-left: 1px solid #ddd;
    padding-left: 30px;
    padding-right: 0;
    line-height: 40px;
}

.search-main .search-classify {
    margin: 0 auto 17px;
    height: 48px;
    position: relative
}

.search-main .search-classify .search-classify-list {
    margin-bottom: 16px
}

.search-main .search-classify .search-classify-list li {
    float: left;
    margin-right: 48px
}

.search-main .search-classify .search-classify-list li a {
    display: block;
    line-height: 48px;
    font-size: 14px;
    color: #4D555D
}

.search-main .search-classify .search-classify-list .active {
    color: #F01414;
    border-bottom: 2px solid #F01414
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
    background: #e4eaec;
    color: #58666e;
}

.table-bordered>thead>tr>th {
    border: 0px solid #ddd;
}

.table td,
.table th {
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    empty-cells: show;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 10px;
}

.das_left {
    float: left;
    width: 180px;
    border-right: 1px solid #f2f2f2;
    min-height: 220px
}

.das_left li {
    line-height: 35px;
    height: 35px;
    overflow: hidden;
}

.das_left li a {
    color: #555;
    padding-left: 15px;
}

.das_left li .selected {
    color: #f43f3b;
}

.das_left li a:hover {
    text-decoration: none;
}

.das_right {
    float: right;
}

.simpleline b,
.title-table {
    color: #555;
    font-weight: 700;
}

.fullsimpleline {
    padding-left: 20px;
    line-height: 25px;
    color: #666;
    font-size: 14px;
}

.fullsimplearea {
    padding-left: 20px;
    line-height: 25px;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
}

.fullsimplearea p.title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

td {
    a {
        color: #3ba8f5;
        &:hover {
            text-decoration: underline;
            color: #3ba8f5;
            cursor: pointer;
        }
    }
}