/*返回顶部*/
.m-top-cbbfixed {
    position: fixed;
    right: 10px;
    transition: bottom ease .3s;
    bottom: -85px;
    z-index: 3;
    cursor: pointer;
  }
  .m-top-cbbtn {
    width: 40px;
    height: 40px;
    display: block;
    background-color: #3ea8f5;
  }
  .m-top-go {
    transition: background-color ease 0.3s;
    margin-top: 1px;
  }
  .m-top-go:hover {
    background: linear-gradient(to right,#81e0fa,#3da8f5);
    background: -moz-linear-gradient(left,#81e0fa,#3da8f5);
    background: -webkit-gradient(linear,left top,right top,from(#81e0fa),to(#3da8f5));
    background: -webkit-linear-gradient(left,#81e0fa,#3da8f5);
    background: -o-linear-gradient(left,#81e0fa,#3da8f5);
    background: -ms-linear-gradient(left,#81e0fa,#3da8f5)
  }
  .m-top-goicon {
    float: left;
    margin: 14px 0 0 9px;
    width: 23px;
    height: 12px;
    background: url(../images/side-icon02.png);
  }
  .m-top-weixin {
    background: #333;
  }
  .m-top-weixin div {
    background: url(../images/weixin.png);
    width: 194px;
    height: 199px;
    position: absolute;
    left: -194px;
    top: -115px;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    transform-origin: 100% 70%;
    -webkit-transform-origin: 100% 70%;
    transition: transform ease .3s, opacity ease .3s;
    -webkit-transition: all ease .3s;
    display: none\0;
    *display: none;
  }
  .m-top-weixin:hover div {
    display: block;
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    *display: block;
  }
  .m-top-weixin-icon {
    float: left;
    margin: 12px 0 0 11px;
    width: 18px;
    height: 18px;
    background: url(../images/side-icon01.png);
  }