body {
  padding: 0;
  margin: 0;
}
/*swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > figure {
  float: left;
  width: 100%;
  position: relative;
}
figure {
  margin: 0;
  /* 对齐，四周宽度都为0，在轮播的时候，以整张图片进行移动 */
}
.page-swipe nav #position {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-swipe nav #position li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
  cursor: pointer;
}
.page-swipe nav #position li.on {
  width: 10px;
  height: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1293dc), color-stop(100%, #0f6297));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
}
.page-swipe {
  position: relative;
}
.page-swipe #position {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
